$color-1: rgb(255, 255, 255);
$color-2: rgb(59, 59, 59);
$color-3: rgb(241,241,217);
$color-4:rgb(0, 0, 43);
$color-5: rgb(0,0,57);
$color-6: rgba(161, 161, 161, 0.445);
$color-7: rgba(255, 255, 255,1)